@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (string.IsNullOrEmpty(UserManager.GetUserAsync(User).Result.FullName))
    {
        ViewData["FullName"] = UserManager.GetUserName(User);
    }
    else
    {
        ViewData["FullName"] = UserManager.GetUserAsync(User).Result.FullName;
    }
    <form asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="/" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="btn btn-link" asp-area="Identity" asp-page="/Account/Manage/Enroll" title="Enroll">@ViewData["FullName"]</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">登出</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-link" asp-area="Identity" asp-controller="Account" asp-action="Register">註冊</a></li>
        <li><a class="btn btn-link" asp-area="Identity" asp-controller="Account" asp-action="Login">登入</a></li>
    </ul>
}