@model ActivitySystem.ViewModels.ActivityIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Add" class="btn btn-info">新增活動</a>
</div>

<div class="container">
    <div class="row">
        @foreach (var activity in Model.Activities)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@activity.ActivityName</h5>
                        <p class="card-text">@activity.Description</p>
                        <a asp-controller="Home" asp-action="Detail" asp-route-activityId="@activity.ActivityId" class="btn btn-primary">查看更多</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>