@model ActivityListViewModel
@{
    ViewData["Title"] = "找活動";
}

<div class="container">
    <div class="row">
        @foreach (var activity in Model.Activities)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@activity.ActivityName</h5>
                        <p class="card-text">@activity.Description</p>
                        <a asp-route-id="@activity.ActivityId" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>